<div id="ai-chat" class="ai-chat-elem">
    <div class="background--color-bg-drawer-header-ai padding-horizontal--24 padding-vertical--4 display--flex justify-content--space-between align-items--center color--color-text-inverted font-opensans--14--24--600 ai-chat-header-adj">
        <span>AI Error Resolution</span>
        <button class="rg utility" onclick="closeAIChatWindow()">
            <i id="ai-chat-close" class="cross-large"></i>
        </button>
    </div>
  <div id="messagesList" class="padding--24 display--none"></div>
  
  <div id="download-progress-section" class="padding--24 display--none">
    <div class="font-opensans--14--24--400 text-align--center">AI error resolution will be available when the model finishes downloading. Warning: terminating the Aspire orchestration app (AppHost) will cancel the download.</div>
    <div class="ai-progress-bar--track margin-top--12">
      <div id="download-progress-bar" class="ai-progress-bar--fill"></div>
    </div>
  </div>
</div>

<script>
  function closeAIChatWindow() {
    document.getElementById("ai-chat-container").classList.add("display--none");
    document.getElementById("tab-content").classList.remove("width--half");

    document.getElementById("ai-error-res-btn").disabled = false;
    document.getElementById("ai-res-icon").style.backgroundColor = "";
  }
</script>