@model ErrorInstanceViewModel

<script src="~/js/htmx.min.js"></script>
<script src="~/js/moment.min.js"></script>

@{
  string BuildHeading(string className, string message)
  {
    var heading = "";

    if (!string.IsNullOrWhiteSpace(className))
    {
      heading = $"{className}: ";
    }

    if (!string.IsNullOrWhiteSpace(message))
    {
      heading += message;
    }
    else
    {
      heading += "Unknown error";
    }

    return heading;
  }
}

<div class="margin--24">
  <div class="error-header">
    <h2 class="font-opensans--18--28--600 color--color-text-default">
      @BuildHeading(Model?.RaygunMessage?.Details?.Error?.ClassName, Model?.RaygunMessage?.Details?.Error?.Message)
    </h2>

    <button id="ai-error-res-btn" class="rg" hx-get="/ErrorInstance/AIChatWindow" hx-target="#ai-chat-container" hx-swap="innerHTML" onclick="handleAIChatOpened()">
      <i id="ai-res-icon" class="ai-small"></i>
      AI Error Resolution
    </button>
  </div>
  <p id="occurredOnHeading" class="font-opensans--14--32--600 color--color-text-low-emphasis">@Model.RaygunMessage.OccurredOn.ToString("MM/dd/yyyy hh:mm:ss")</p>

  <ul id="js-lowest-prechat-elem" class="tab-group clearfix font-opensans--14--32--600 color--color-text-default margin-top--24">
    <li class="js-tab-item tab-group--item tab-group--item--active" hx-get="/ErrorInstance/TabContent" hx-target="#tab-content" hx-trigger="click" hx-vals='{"tab": "summary"}'>Summary</li>
    @if (Model?.RaygunMessage?.Details?.Request != null || Model?.RaygunMessage?.Details?.Response != null)
    {
      <li class="js-tab-item tab-group--item" hx-get="/ErrorInstance/TabContent" hx-target="#tab-content" hx-trigger="click" hx-vals='{"tab": "http"}'>Http</li>
    }
    <li class="js-tab-item tab-group--item tab-group--item-last" hx-get="/ErrorInstance/TabContent" hx-target="#tab-content" hx-trigger="click" hx-vals='{"tab": "rawdata"}'>Raw data</li>
  </ul>
  <div id="tab-and-chat" class="display--flex">
    <div id="tab-content" class="background--color-bg-surface-01 box-shadow--tabs border-color--color-border-elevation border-width--1 border-style--solid">
      <partial name="Tabs/_summary" model="@Model"/>
    </div>
    <div id="ai-chat-container" class="ai-chat-elem background-color--color-bg-surface-01 box-shadow--tabs border-color--color-border-elevation border-width--1 border-style--solid display--none">
      <partial name="AIChatWindow" model="@Model"/>
    </div>
  </div>

  <div id="aier" hx-get="/ErrorInstance/AIER" hx-trigger="load" hx-target="#aier"></div>
</div>

<script>
  // Format the occurred on date in the header
  var occurredOnHeading = document.getElementById('occurredOnHeading');
  var rawDate = occurredOnHeading.textContent;
  var momentDateUtc = moment.utc(rawDate);

  var formattedDateUtc = momentDateUtc.format("MMMM Do YYYY, HH:mm:ss") + " UTC";
  occurredOnHeading.title = formattedDateUtc

  var momentDateLocal = momentDateUtc.local();
  var formattedDate = momentDateLocal.format("MMMM Do YYYY, HH:mm:ss") + " - " + momentDateLocal.fromNow();
  occurredOnHeading.textContent = formattedDate;

  // Add a click event listener to each tab item
  var elements = document.querySelectorAll('.js-tab-item');
  elements.forEach(function (element) {
    element.addEventListener('click', function () {
      // Remove the 'active' class from all elements
      elements.forEach(function (el) {
        el.classList.remove('tab-group--item--active');
      });

      // Add the 'active' class to the clicked element
      element.classList.add('tab-group--item--active');
    });
  });
</script>

<script>
  function handleAIChatOpened() {
    document.getElementById("tab-content").classList.add("width--half");
    
    //document.getElementById("ai-chat").style.height = giveChatWindowHeight();
    setChatWindowDimensions();

    document.addEventListener('htmx:afterSettle', setChatWindowDimensions);
    
    window.addEventListener('resize', setChatWindowDimensions);
    
    window.addEventListener('scroll', setChatWindowDimensions);
    
    document.getElementById("ai-chat-container").classList.remove("display--none");

    @*var btn = document.getElementById("ai-error-res-btn");
    btn.style.background = "var(--color-bg-interactive-disabled)";
    btn.style.color = "var(--color-text-button-disabled)";*@
    
    document.getElementById("ai-error-res-btn").disabled = true;
    document.getElementById("ai-res-icon").style.backgroundColor = "var(--color-text-button-disabled)";
    
  }
  
  function setChatWindowDimensions() {
    setChatWindowWidth();
    setChatWindowHeight();
    giveChatWindowBottomMargin();
  }
  
  function setChatWindowHeight() {
    document.getElementById("ai-chat-container").style.height = getChatWindowHeight();
  }
  
  function giveChatWindowBottomMargin() {
    document.getElementById("ai-chat-container").style.marginBottom = visibleMargin().toString() + "px";
  }
  
  function visibleMargin() {
    const content = document.getElementById("tab-content");
    const contentRect = content.getBoundingClientRect();
    const contentBottom = contentRect.top + contentRect.height;
    
    return Math.max(window.innerHeight - contentBottom, 0);
  }
  
  function setChatWindowWidth() {
    var width = $("#tab-content").width();

    // Set the width of the second element
    $("#ai-chat-container").width(width);
  }
  
  function getChatWindowHeight() {
    const bottom = getLowestElemBottom();

    // Calculate correct window height based on where header ends
    const fullHeight = window.innerHeight;
    let windowHeight = (fullHeight - bottom) + 1;

    return windowHeight.toString() + "px";
  }

  /*Get and return the bottom position of the lowest element closest to the AI chat*/
  function getLowestElemBottom() {
    const errorTabs = document.getElementById('js-lowest-prechat-elem');
    const header = document.getElementById('js-header-elem');

    const errorRect = errorTabs.getBoundingClientRect();
    const headerRect = header.getBoundingClientRect();

    const errorBottom = errorRect.top + errorRect.height;
    const headerBottom = headerRect.top + headerRect.height;

    return Math.max(errorBottom, headerBottom);
  }
</script>