@model ErrorInstanceViewModel

<div class="background--color-bg-surface-01 box-shadow--light-elevation-02 border-color--color-border-elevation border-width--1 border-style--solid margin--24 padding-top--24">
  <p>@Model.RawPayload</p>
</div>
