:root {
  /* ====================Base Color styles==================== */

  --rg-blue-50: #F1F8FF;
  --rg-blue-100: #E8F4FD;
  --rg-blue-200: #D0E8FB;
  --rg-blue-300: #B9DDFA;
  --rg-blue-400: #A1D2F8;
  --rg-blue-500: #8AC7F7;
  --rg-blue-600: #72BBF5;
  --rg-blue-700: #5BB0F3;
  --rg-blue-800: #43A5F2;
  --rg-blue-900: #2C9AF0;
  --rg-blue-1000: #158FEF;
  --rg-blue-1050: #0478D2;
  --rg-blue-1055: #0776DF;
  --rg-blue-1100: #1280D6;
  --rg-blue-1200: #1072BF;
  --rg-blue-1300: #0E63A6;
  --rg-blue-1400: #0C558F;
  --rg-blue-1500: #0A4777;
  --rg-blue-1600: #08395F;
  --rg-blue-1700: #062A47;
  --rg-blue-1700-1A: #062A471A;
  --rg-blue-1700-33: #062A4733;
  --rg-blue-1800: #020E17;
  --rg-blue-1800-BF: #020E17BF;
  --blue-gray-5: #F8F9FA;
  --blue-gray-10: #F4F6F8;
  --blue-gray-15: #F1F3F5;
  --blue-gray-20: #F0F2F4;
  --blue-gray-50: #ECEFF1;
  --blue-gray-75: #E2E8EB;
  --blue-gray-100: #CFD8DC;
  --blue-gray-200: #B0BEC5;
  --blue-gray-300: #90A4AE;
  --blue-gray-400: #78909C;
  --blue-gray-500: #607D8B;
  --blue-gray-600: #546E7A;
  --blue-gray-700: #455A64;
  --blue-gray-800: #37474F;
  --blue-gray-900: #263238;
  --blue-gray-900-B8: #263238B8;
  --dark-blue-001642: #001642;
  --gray-50: #FAFAFA;
  --gray-100: #F5F5F5;
  --gray-200: #EEEEEE;
  --gray-300: #E0E0E0;
  --gray-350: #DDDDDD;
  --gray-400: #BDBDBD;
  --gray-500: #9E9E9E;
  --gray-600: #757575;
  --gray-600-1A: #7575751A;
  --gray-700: #616161;
  --gray-800: #424242;
  --gray-900: #212121;
  --black: #000000;
  --teal-50: #E0F2F1;
  --teal-100: #B2DFDB;
  --teal-200: #80CBC4;
  --teal-300: #4DB6AC;
  --teal-400: #28B3AA;
  --teal-500: #00A59A;
  --teal-600: #00998E;
  --teal-700: #008A7E;
  --teal-800: #00695C;
  --teal-900: #004D40;
  --cyan-100: #B2EBF2;
  --cyan-200: #80DEEA;
  --cyan-300: #4DD0E1;
  --cyan-400: #24CFE1;
  --cyan-500: #00BCD4;
  --cyan-600: #00ACC1;
  --cyan-700: #0097A7;
  --cyan-800: #00838F;
  --cyan-900: #006064;
  --deep-purple-50: #EDE7F6;
  --deep-purple-100: #D1C4E9;
  --deep-purple-200: #B39DDB;
  --deep-purple-300: #9575CD;
  --deep-purple-400: #7E57C2;
  --deep-purple-a400: #AF2EFF;
  --deep-purple-500: #673AB7;
  --deep-purple-600: #5E35B1;
  --deep-purple-700: #512DA8;
  --deep-purple-800: #4527A0;
  --deep-purple-900: #311B92;
  --deep-purple-a700: #651FFF;
  --green-50: #E8F5E9;
  --green-100: #C8E6C9;
  --green-200: #A5D6A7;
  --green-300: #81C784;
  --green-400: #66BB6A;
  --green-500: #4CAF50;
  --green-600: #43A047;
  --green-700: #388E3C;
  --green-800: #2E7D32;
  --green-900: #1B5E20;
  --red-50: #FFEBEE;
  --red-100: #FFCDD2;
  --red-200: #EF9A9A;
  --red-300: #E57373;
  --red-400: #EF5350;
  --red-500: #F44336;
  --red-600: #E53935;
  --red-700: #D32F2F;
  --red-800: #C62828;
  --red-900: #B71C1C;
  --amber-40: #FDFBF2;
  --amber-50: #FFF8E1;
  --amber-75: #FFF2CB;
  --amber-100: #FFECB3;
  --amber-200: #FFE082;
  --amber-300: #FFD54F;
  --amber-400: #FFCA28;
  --amber-500: #FFC107;
  --amber-600: #FFB300;
  --amber-700: #FFA000;
  --amber-800: #FF8F00;
  --amber-900: #FF6F00;
  --light-blue-a100: #80D8FF;
  --light-blue-400: #29B6F6;
  --light-blue-600: #039BE5;
  --purple-400: #AB47BC;
  --pink-100: #F8BBD0;
  --pink-300: #F06292;
  --light-green-500: #8BC34A;
  --lime-400: #D4E157;
  --orange-400: #FFA726;
  --deep-orange-400: #F57C00;
  --indigo-500: #3F51B5;
  --yellow-300: #FFF176;
  --yellow-700: #FBC02D;
  --white: #FFFFFF;
}
