html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.main-container {
  margin-left: 16%;
  margin-right: 16%;
  @media only screen and (max-width: 1664px) {
    margin-left: 8%;
    margin-right: 8%;
  }
  @media only screen and (max-width: 924px) {
    margin-left: 24px;
    margin-right: 24px;
  }
  @media only screen and (max-width: 484px) {
    margin-left: 12px;
    margin-right: 12px;
  }
}

pre {
  background: var(--color-main-background) !important;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}