/* Import Color Definitions */
@import url("base-colors.css");

:root {
  /* Brand color styles */
  --color-bg-brand-default: var(--dark-blue-001642);
  /* Surface color styles */
  --color-main-background: var(--gray-100);
  --color-bg-surface-01: var(--white);
  --color-bg-surface-02: var(--blue-gray-15);
  --color-bg-surface-highcontrast: var(--gray-900);
  --color-bg-surface-overlay: var(--rg-blue-1800-BF);
  --color-bg-surface-header-strip: var(--rg-blue-1000);
  --color-bg-surface-footer: var(--gray-300);
  /* Text color styles */
  --color-text-default: var(--gray-800);
  --color-text-low_emphasis: var(--gray-600);
  --color-text-inverted: var(--white);
  --color-text-error: var(--red-700);
  --color-text-disabled: var(--gray-400);
  --color-text-placeholder: var(--gray-600);
  --color-text-link-active: var(--rg-blue-1200);
  --color-text-link-hover: var(--rg-blue-1500);
  --color-text-default-active: var(--gray-800);
  --color-text-inverted-active: var(--white);
  --color-text-button-default: var(--gray-800);
  --color-text-button-inverted: var(--white);
  --color-text-button-active: var(--rg-blue-1200);
  --color-text-button-disabled: var(--gray-400);
  --color-text-link-highhcontrast-active: var(--rg-blue-600);
  /* Border color styles */
  --color-border-elevation: var(--blue-gray-100);
  --color-border-input-default: var(--blue-gray-200);
  --color-border-row-default: var(--blue-gray-75);
  --color-border-informatve: var(--rg-blue-1050);
  --color-border-error: var(--red-700);
  --color-border-success: var(--green-800);
  --color-border-warning: var(--amber-700);
  --color-border-disabled: var(--gray-300);
  --color-border-selected: var(--rg-blue-1400);
  --color-border-tab-selected: var(--rg-blue-1050);
  --color-border-progress: var(--rg-blue-1050);
  /* Interactive backgrounds styles */
  --color-bg-interactive-primary: var(--rg-blue-1050);
  --color-bg-interactive-disabled: var(--gray-600-1A);
  --color-bg-interactive-default: var(--blue-gray-500);
  --color-bg-interactive-selected: var(--rg-blue-1400);
  --color-bg-interactive-danger: var(--red-700);
  --color-bg-state-hover: var(--rg-blue-1700-1A);
  --color-bg-state-focus: var(--rg-blue-1700-33);
  --color-bg-interactive-base: var(--white);
  /* Status background color styles */
  --color-bg-status-informative: var(--rg-blue-1050);
  --color-bg-status-success-light: var(--green-50);
  --color-bg-status-success: var(--green-800);
  --color-bg-status-error: var(--red-700);
  --color-bg-status-error-light: var(--red-50);
  --color-bg-status-warning-light: var(--amber-50);
  --color-bg-status-warning: var(--amber-700);
  --color-bg-status-neutral: var(--blue-gray-50);
  /* Form color styles */
  --color-bg-input-default: var(--white);
  --color-bg-input-disabled: var(--gray-200);
  --color-bg-input-readonly: var(--blue-gray-10);
  --color-bg-menu-default: var(--white);
  --color-bg-menu-disabled: var(--gray-200);
  /* Table color styles*/
  --color-bg-row-default: var(--white);
  --color-bg-row-disabled: var(--gray-200);
  --color-bg-row-selected: var(--rg-blue-100);
  --color-bg-row-highlight: var(--amber-40);
  /* Icon background color styles */
  --color-bg-icon-help: var(--blue-gray-500);
  /* Icon color styles */
  --color-icon-default: var(--blue-gray-900-B8);
  --color-icon-active: var(--rg-blue-1050);
  --color-icon-hover: var(--rg-blue-1500);
  --color-icon-inverted: var(--white);
  --color-icon-disabled: var(--gray-400);
  --color-icon-danger: var(--red-700);
  --color-icon-success: var(--green-800);
  --color-icon-warning: var(--amber-700);
  --color-icon-premium: var(--yellow-700);
  --color-icon-favorite: var(--amber-600);
  --color-icon-selected: var(--white);
  /* Chart Color styles*/
  --color-chart-categorical-01: var(--cyan-800);
  --color-chart-categorical-02: var(--cyan-500);
  --color-chart-categorical-03: var(--light-blue-a100);
  --color-chart-categorical-04: var(--rg-blue-1000);
  --color-chart-categorical-05: var(--deep-purple-a700);
  --color-chart-categorical-06: var(--purple-400);
  --color-chart-categorical-07: var(--pink-300);
  --color-chart-categorical-08: var(--pink-100);
  --color-chart-trafficlight-01: var(--green-500);
  --color-chart-trafficlight-02: var(--light-green-500);
  --color-chart-trafficlight-03: var(--lime-400);
  --color-chart-trafficlight-04: var(--yellow-300);
  --color-chart-trafficlight-05: var(--amber-300);
  --color-chart-trafficlight-06: var(--orange-400);
  --color-chart-trafficlight-07: var(--deep-orange-400);
  --color-chart-trafficlight-08: var(--red-500);
  --color-chart-sequential-01: var(--deep-purple-700);
  --color-chart-sequential-02: var(--indigo-500);
  --color-chart-sequential-03: var(--rg-blue-1200);
  --color-chart-sequential-04: var(--rg-blue-1100);
  --color-chart-sequential-05: var(--light-blue-600);
  --color-chart-sequential-06: var(--light-blue-400);
  --color-chart-sequential-07: var(--cyan-300);
  --color-chart-sequential-08: var(--cyan-200);
  --color-bg-brand-default: var(--dark-blue-001642);
  /* To be named */
  --color-bg-drawer-header-ai-01: var(--rg-blue-1055);
  --color-bg-drawer-header-ai-02: var(--deep-purple-a400);
  --color-bg-surface-gradient-01-01: var(--rg-blue-50);
  --color-bg-surface-gradient-01-02: var(--white);
}