@model ErrorInstanceViewModel

<section class="padding--24">
  <pre><code class="language-json">@Model.RawPayload</code></pre>
</section>

<script src="~/js/prism.js"></script>
<script src="~/js/prism-json.min.js"></script>