<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - RaygunAspireWebApp</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/backgroundColor.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/theme-default.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/utility-styles.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/buttons.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/ai-error-res.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/RaygunAspireWebApp.styles.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/prism.css" asp-append-version="true" />
</head>
<body class="background--color-main-background">
  <header id="js-header-elem" class="position--fixed top--0 left--0 width--full z-index--max">
    <nav class="background--color-bg-surface-header-strip display--flex flex-direction--row gap--8 height--48 overflow-y--hidden">
      <a href="/">
        <img class="raygun-logo align-items--center display--flex margin-left--16 margin-top--12" src="~/images/6344bbf42c1388e74c4a5c87_web-colour-landscape-white-text.svg" alt="Raygun logo" />
      </a>
      <div class="raygun-emblem">
        <div class="raygun-emblem__ring "></div>
        <img class="raygun-emblem__bolt" src="~/images/raygun-bolt.png" />
        <script>
          var emblem = document.querySelector('.raygun-emblem');
          var bolt = document.querySelector('.raygun-emblem__bolt');
          var ring = document.querySelector('.raygun-emblem__ring');
          emblem.addEventListener('click', function () {
            var shockwave = document.createElement('div');
            shockwave.className = 'raygun-emblem__shockwave raygun-emblem__shockwave--animate';
            shockwave.addEventListener('animationend', function () {
              emblem.removeChild(shockwave);
            });
            emblem.appendChild(shockwave);

            bolt.className = "raygun-emblem__bolt raygun-emblem__bolt--animate";
            ring.className = "raygun-emblem__ring raygun-emblem__ring--animate";
          });
          bolt.addEventListener('animationend', function () {
            bolt.className = "raygun-emblem__bolt";
          });
          ring.addEventListener('animationend', function () {
            ring.className = "raygun-emblem__ring";
          });
        </script>
      </div>
      <div style="width: 169px;"></div>
    </nav>
  </header>
  <div class="container padding-top--48">
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
  </div>

  <footer class="background--color-bg-surface-footer height--48 position--absolute bottom--0 align-items--center display--flex width--full text-muted">
    <div class="container display--flex flex-direction--row width--full">
      <a class="footer--text display--flex text-align--left margin-left--24" href="https://raygun.com/documentation/language-guides/dotnet/crash-reporting/aspire/" target="_blank">Documentation</a>
      <a class="footer--text display--flex text-align--left margin-left--24" href="https://github.com/MindscapeHQ/raygun4aspire/issues" target="_blank">Help / Support</a>
      <a class="footer--text display--flex text-align--left margin-left--24" href="/home/privacy">Privacy</a>
      
      <a class="footer--text display--flex text-align--right margin-right--24 margin-left--auto" href="https://raygun.com" target="_blank">&copy; 2024 - Raygun</a>
    </div>
  </footer>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
